<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <WindowsPackageType>None</WindowsPackageType>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>partial</TrimMode>
    <SuppressTrimAnalysisWarnings>true</SuppressTrimAnalysisWarnings>
    <PublishReadyToRun>false</PublishReadyToRun>
    <SatelliteResourceLanguages>vi;en</SatelliteResourceLanguages>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>none</DebugType>
    <PublishDir>bin\Release\net10.0-windows10.0.19041.0\win-x64\publish-slim-trimmed\</PublishDir>
  </PropertyGroup>
</Project>
